<div class="mt-4">
<h5>Reusable component</h5>
<small>Using resuable component into home page.</small>
<table class="table table-responsive border">
    <thead>
        <tr>
            <th *ngFor="let column of columns" scope="col" class="px-2 text-secondary">{{column.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows">
            <td *ngFor="let column of dataProperty;let i= index" scope="row">
                {{row[column]}}
            </td>
        </tr>
    </tbody>
</table>
</div>